<!-- begin footer -->
<footer class="footer">
  
  
  <div class="container">
    <div class="row">
      <div class="col col-12">

        {% bookshop_include social-link %}

        <ul class="footer_nav list-reset">
          {% for item in site.data.footer.footer_menu__settings.menu__items %}
          <li class="footer_nav__item">
            <a href="{{ item.url | relative_url }}" class="footer_nav__link">{{ item.title }}</a>
          </li>
          {% endfor %}
        </ul>

        <div class="copyright">{{ site.data.footer.copyright_text_html }}</div>

      </div>
    </div>
  </div>
  <a href="" title="website Viewer counter"><img src="https://counter2.stat.ovh/private/freecounterstat.php?c=e22q2uyem3gdekfhmz6ngz52rtgyg2u6" border="2" title="website page counter" alt="website page counter"
style="position: absolute; bottom: 10%;" 
    ></a>
</footer>
<!-- end footer -->